body {
    background-image: url(../assets/watercolor-design-pastel-bkg.jpg);
    background-position: center;
}

.custom-nav-bg {
    background-color: #f8eaf5 !important;
}

.custom-navbar {
    justify-content: flex-end;
}

.custom-container {
    margin-top: 6rem;
}

.custom-jt {
    background-color: #fad3e0;
}

.images {
    width: 300px;
    height: 300px;
}

#about-me {
    margin-right: 1rem;
}

footer {
    text-align: center;
    background-color: #d5c1de;
}